
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 ">
          
      <ul class="grid cs-style-3">
        <li>
          <figure>
          <span class="coverdestine">
          <h3><%= destination.place %></h3>
          </span>
            <%= image_tag destination.cover.url() %>
            <figcaption>
              
              
              <h3><%= link_to (t ".Know"), destination %></h3>


            </figcaption>

          </figure>
          <% if signed_in? && current_user.is_admin? %>
            
            <button type="button" class="btn btn-warning"><%= link_to 'Edit', edit_destination_path(destination) %></button>
            <button type="button" class="btn btn-danger"><%= link_to 'Destroy', destination, method: :delete, data: { confirm: 'Are you sure?' } %></button>
          
               <% else %>
          <div class="nothing"></div>
            <% end %>
        </li>
      </ul>
      
</div><!-- /container -->

