<div class="container destine-container">
  <div id="destine">

  

  <div class="field destineimg">
    <h1>
        <span class="bx"> 
          <span class="tx"><%= @destination.place%></span>
        </span>
      </h1>
      <%= image_tag @destination.cover.url() %>
  </div>



</div>

<section>
        <div class="tabs tabs-style-fillup">
          <nav>
            <ul>
              <li><a href="#section-fillup-1" class="icon icon-home"><span><%= t ".why_go" %></span></a></li>
              <li><a href="#section-fillup-2" class="icon icon-gift"><span><%= t ".to_do" %></span></a></li>
              <li><a href="#section-fillup-3" class="icon icon-upload"><span><%= t ".sights" %></span></a></li>
              <li><a href="#section-fillup-4" class="icon icon-coffee"><span><%= t ".festivals" %></span></a></li>
              <li><a href="#section-fillup-5" class="icon icon-config"><span><%= t ".sleep" %></span></a></li>
              <li><a href="#section-fillup-6" class="icon icon-config"><span><%= t ".eat" %></span></a></li>
              <li><a href="#section-fillup-7" class="icon icon-config"><span><%= t ".drink" %></span></a></li>
              <li><a href="#section-fillup-8" class="icon icon-config"><span><%= t ".shop" %></span></a></li>
              <li><a href="#section-fillup-9" class="icon icon-config"><span><%= t ".sightseeing" %></span></a></li>
            </ul>
          </nav>
          <div class="content-wrap">
            <section id="section-fillup-1">
              <%= @destination.why_go  %>
            </section>
            <section id="section-fillup-2">
              <%= @destination.to_do %>
            </section>
            <section id="section-fillup-3">
              <%= @destination.sights %>

            </section>
            <section id="section-fillup-4">
              <%= @destination.festivals %>

            </section>
            <section id="section-fillup-5">
               <%= @destination.sleep %>

            </section>
            <section id="section-fillup-6">
              <%= @destination.eat %>

            </section>
            <section id="section-fillup-7">
              <%= @destination.drink %>

            </section>
            <section id="section-fillup-8">
              <%= @destination.shop %>

            </section>
            <section id="section-fillup-9">
              <%= @destination.around %>

            </section>
          </div><!-- /content -->
        </div><!-- /tabs -->
      </section>      

<hr class="style-two">

<div class="container-fluid nested-deals">
      
      <h1><%= t ".HotDeals" %></h1>
      <div class="content">
      
        <div class="gridd">
        <% @destination.deals.each do |deal| %>
          <figure class="effect-zoe ">
            <div class="deal-info">
              
              <div class="row name-deal">
                <div class="col-md-12">
                  <h1><%= deal.place %></h1>
                </div>
              </div>

              <div class="row price-deal">
                <div class="col-md-6 deal-position deal-price">
                <h1><span><%= deal.currency %></span>&nbsp<%= deal.price %></h1>
                <br>
                <p><%= deal.policies_and_fees %></p>
                  
                </div>
                <div class="col-md-6 deal-position deal-offert hidden-promo">
                <h1><%= deal.other_details %></h1></div>
              </div>

            </div>
            <%= link_to image_tag(deal.pic.url()), deal_path %>
            
            
            <figcaption>
              <h3>
                <%= link_to deal.place, deal_path %>
              </h3>


             
          
              <div class="description">
                <p>
                  <%=link_to truncate(deal.details.html_safe, length:90), deal_path %>
                </p>
                <p>
                  <%=link_to "read more...", deal%>
                </p>
              </div>
              <p class="icon-links">
                  <%= link_to '<i class="fa fa-eye"></i>'.html_safe, deal_path(deal) %>
                    
                  
                 
 
              </p>
              
            </figcaption>     
          </figure>
          

          <%end%>


        </div><!--  grid -->
         
        
      </div> <!-- content -->
      
    </div><!-- /container --> 

    <div class="field">
      <h3><%= t ".Comments" %></h3>

         <div class="panel-body">      
            <% @destination.comments.each do |comment| %>
            <div class="media">
              <div class="media-left">
               <%= image_tag "avatar.jpeg", :alt => "", :class => "media-object avatar-rupgo-question_deal" %>
              </div>
            <div class="media-body">
              <h4 class="media-heading"><%= t ".Comments" %></h4>
                <%= comment.body %>

          </div>
    </div>
  <% end %> 
</div>


<%= render "comments/form" %>
</div>
</div>


<% if signed_in? && current_user.is_admin? %>

<button type="button" class="btn btn-warning"><%= link_to 'Edit', edit_destination_path(@destination), :target => "_self" %></button>


<% else %>
<div class="nothing"></div>
<% end %>


<!-- load tabs -->
<script src="js/cbpFWTabs.js"></script>
    <script>
      (function() {

        [].slice.call( document.querySelectorAll( '.tabs' ) ).forEach( function( el ) {
          new CBPFWTabs( el );
        });

      })();
    </script>

<!-- End load tabs -->




